.App {
  width: 80vw;
  height: 80vh;
  text-align: left;
  display: flex;
  flex-direction: row;
  background-image: url(ferrari.jpg);
  background-size: cover;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: fade-in 5s linear;
  }
}

.App-link {
  color: #61dafb;
}

/* Add entry for the navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
  padding: 20px;
  background-color: #282c34;
} 

.member-table{
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
  width: 80vw;
  background-color: white;
}

.stats-table{
  table-layout: fixed;
  border: 1px solid black;
  border-collapse: collapse;
  width: 80vw;
  background-color: white;
}

.member-table th, .member-table td {
  border: 1px solid black;
  padding: 8px;
}

.member-table th:first-child, .member-table td:first-child {
  width: 10%;
}

.member-table th:last-child, .member-table td:last-child {
  width: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}